<a href="{KASSIR_URL}/api/setting/showMemcacheDetails/">Info Memcache</a><br />
<a href="{KASSIR_URL}/api/setting/udpate_static_file/">Update static files</a><br />
<a href="{KASSIR_URL}/api/setting/deleteMemcache//">Delete ID from Memcache</a><br />
