<div class='input_form'>
    <form method="post" action="{url_wm_merchant}">
        <input type="hidden" name="ex_output" value="{output}" />
        <input type="hidden" name="ex_input" value="{input}" />
        <input type="hidden" name="inval" value="{in_val}" />
        <input type="hidden" name="in_purse" value="{purse_in}" />
        <input type="hidden" name="did" value="{did}" />
        <input type="hidden" name="LMI_PAYEE_PURSE" value="{purse_out}" />
        <input type="hidden" name="LMI_PAYMENT_AMOUNT" value="{out_val}" />
        <input type="hidden" name="LMI_PAYMENT_NO" value="{id_pay}" />
        <input type="hidden" name="LMI_PAYMENT_DESC" value="{desc_pay}" />
        <button name="ex_wm" class="button_yellow" type="submit">Оплатить</button>
        </form>
</div>