<div align="center" class="hidden" id="load"></div>
        <form method="post" onsubmit="ajaxVs({url:'/widget/',block:'process',act:'exchanger.show_demand',p:serialize(this)}); return false;">
            <input type="hidden" name="did" value="{did}" />
            <input type="hidden" name="type_action" value="{type_action}" />
            <input type="hidden" name="output_system" value="{output_system}" />
            <input type="hidden" name="hesh_easypay" value="{hesh_easypay}" />
           <input type="submit" name="send" class="button_yellow" value="{L_check_pay}" />
        </form>
