<div class="instruction">
Для успешного выполнения обмена <b>переводите</b> указанную сумму в заявке <b>на {purse_direct} кошелек</b>, в примечании указать ТОЛЬКО номер заявки <b>{did}</b>. В течении 15 минут ваша заявка будет выполнена.
</div>