<div class="instruction">
Для успешного выполнения обмена <b>переводите</b> указанную сумму в заявке <b>на {purse_direct} кошелек</b>, в примечании указать ТОЛЬКО номер заявки <b>{did}</b>. Заявки выполняются оператором от 15 минут до 12 часов в рабочее время.
</div>