{content_payment_type_TEST}
<div class="instruction">
    <b>Внимание! Временно заявки будут обрабатыватся в ручном режиме</b><br>
    Для обмена необходимо совешить перевод на кошелек <b>{demo_purse}</b>, в примечании к платежу указать номер заявки <b>{did}</b>.
</div>




