<script language='JavaScript'>
    function boxPay(){
        d = document.select_box.f_boxPay.value;
        if(d == 'extract') {
            document.getElementById('box_derect').style.display = 'none';
            document.getElementById('box_extract').style.display = 'block';
        }
        if(d == 'direct') {
            document.getElementById('box_extract').style.display = 'none';
            document.getElementById('box_derect').style.display = 'block';
        }
    }
    function Check_wmid(){
        if (!document.f_wmid.wmid.value.match('^[0-9]{12}$')) {
            alert('Номер WMID указан не верно');
            document.f_wmid.wmid.focus();
            return false;
        }
//ajaxVs({block:'gcontrol',act:'check_payment',p:dataRequest,extra:{columnInsert:obj.sn.value}});
    }
    function Check_ep(){
        if (!document.f_ep.purse.value.match('^[0-9]{8}$')) {
            alert('Номер EasyPay кошелька указан не верно');
            document.f_ep.purse.focus();
            return false;
        }
    }

</script>

<div style=' margin-left:20px;'>
    <form style='margin-left:10px;' name='select_box' id='select_box'>
        <b>Выберите метод оплаты :</b>
        <select name='f_boxPay' id='f_boxPay'  onclick='boxPay()' onSelect='boxPay()' onFocus='boxPay()' onSelect='boxPay()' onKeyUp='boxPay()' onChange='boxPay()'>
            <!--option value='extract'>Выписка счета</option-->
            <option value='direct' selected='selected'>Прямой платеж</option>
        </select>
    </form>
</div>
<br />
<div id='box_derect' class='input_form'>
    <form method="post" action="{url_wm_merchant}">
        <input type="hidden" name="ex_output" value="{output}" />
        <input type="hidden" name="ex_input" value="{input}" />
        <input type="hidden" name="inval" value="{in_val}" />
        <input type="hidden" name="in_purse" value="{purse_in}" />
        <input type="hidden" name="did" value="{did}" />
        <input type="hidden" name="LMI_PAYEE_PURSE" value="{purse_out}" />
        <input type="hidden" name="LMI_PAYMENT_AMOUNT" value="{out_val}" />
        <input type="hidden" name="LMI_PAYMENT_NO" value="{id_pay}" />
        <input type="hidden" name="LMI_PAYMENT_DESC" value="{desc_pay}" />
        <button name="ex_wm" class="button_yellow" type="submit">Оплатить</button>
        </form></div>

<div id="box_extract" style='display: none;' class="input_form">
    <form name="f_wmid" id="f_wmid" method="post" onSubmit="ajaxVs({url:'/widget/',block:'process',act:'exchanger.show_demand',p:serialize(this)}); return false;">
        <b>Введите Ваш WMID :</b> <input type="text" name="wmid" id="wmid" maxlength="12" value="{wmid}" size="13">
        <input type="hidden" name="type_action" value="{type_action}" />
        <input type="hidden" name="output_system" value="{output_system}" />
        <input type="hidden" name="did" value="{did}" />
        <input type="hidden" name="signature" value="{signature}" />
        <input type="hidden" name="pay_id" value="{id_pay}" />
        <button class="button_yellow">{L_bill_pay}</button>
    </form><br />
    <div class="div_operok">После выписки счета у Вас есть 20 минут, что бы оплатить заявку.<br />В противном случае счет будет не действительным!<br />
        Ваша заявка будет выполнена в течении 10 минут после оплаты.</div>
</div>



