<button class="button_yellow" onclick="ajaxVs({url:'/widget/',block:'process',act:'exchanger.show_demand',p:'action=confirm_demand&did={did}&oper_type={oper_type}'}); return false;">{L_confirm}</button>