<div class="title-kabinet"><b>{L_text_title}:</b> {did}</div>
<br /><br />
<center>
    {instruction}
<table>
<tr class="text" bgColor="#ffffff">
<td align="right"><b>Статус :</b>&nbsp;</td>
<td align="left"><b class="{status_class}">{status_name}</b></td>
</tr>
{comment}
<tr class="text" bgColor="#ffffff">
<td align="right"><b>Направление <br />обмена :</b>&nbsp;</td>
<td align="left">{purse_desc_val} -> {cur_in_info}
</td>
</tr>
<tr class="text" bgColor="#ffffff">
<td align="right"><b>Отдаете :</b>&nbsp;</td>
<td align="left">
{out_val} {purse_desc_val}
</td>
</tr>
<tr class="text" bgColor="#ffffff">
<td align="right" height="4"><b>Получаете :</b>&nbsp;</td>
<td align="left" height="4">{in_val} {cur_in_info}
</td>
{cur_output}
    {cur_input}
<tr class="text" bgColor="#ffffff">
<td align="right"><b>E-Mail :</b>&nbsp;<br>
</td>
<td align="left">{email}
</td>
</tr>
<tr class="text" bgColor="#ffffff">
<td align="right"><b>Дата платежа :</b>&nbsp;<br>
</td>
<td align="left">{add_date}</td>
</tr>
<tr class="text" bgColor="#ffffff">
<td colspan="2" align="center">
{submit}
</td>
</tr>
</table>
</center>

