<script language='JavaScript'>
    discount = {discount};
    new Exchange('{direct}',{konvers},{comission});
</script>
<div class="cont-form">
    <div class="instruction">
        <b>Требования для совершения обменных операций</b><br />
        &bull; Обменивать WM-валюты можно только со своих кошельков на свои кошельки (с\на тот же WMID или с\на другие WMID, прикрепленные к Вашему аттестату).<br />
        &bull; Ваш счет в системе EasyPay должен быть полноценно привязан к одному из WM-кошельков на сайте
        <a href="banks.webmoney.ru" rel="nofollow">banks.webmoney.ru</a>.<br />
        <span class="red">В случае невыполнения этих правил заявки не будут выполняться, а денежные средства будут возвращаться обратно.</span>
    </div>
    <center>
		<h1>{L_exchange} {desc_val_out} {L_on} {desc_val_in}</h1>
        <div id="forData"></div>
    <form name="form_exch" id="form_exch" method="post" onSubmit="ajaxVs({method:'POST',url:'/widget/',block:'process',act:'exchanger.creat_demand',p:serialize(this),callback:'creatShowDemand'}); return false;">
        <table width="410" bgColor="#ebebeb" class="table-form">
            <tr class="text" bgColor="#ffffff">
                <td align="right">Отдаете, {desc_val_out}:&nbsp;</td>
                <td align="left">
                    <input type="text" name="in_val" size="13" value="0" id="in_val"
                           onblur=i_o(true) onkeyup=i_o() onchange=i_o()>
                </td>
            </tr>
            <tr bgColor="#f3f7ff">
                <td colspan="2" align="left" class="text_log"><b>Вы должны иметь, {desc_val_out} : </b>
                    <span id=kom_08>0</span>
            </tr>
            <tr class="text" bgColor="#ffffff">
                <td align="right" height="4">Получаете, {desc_val_in}:&nbsp;<br /><span class="red" id="discont"></span></td>
                <td align="left" height="4">
                    <input type="text" name="out_val" size="13" value="0" id="out_val"
                           onblur=o_i(true) onkeyup=o_i() onchange=o_i()>
                </td>
            </tr>
            <tr bgColor="#f3f7ff">
                <td colspan="2" align="left" class="text_log"><b>Доступно для обмена, {desc_val_in}: {format_balance}</b></td>
            </tr>
            <tr class="text" bgColor="#ffffff">
                {Constructor}
                </td>
            </tr>
            <tr class="text" bgColor="#ffffff">
                <td align="right">E-Mail :&nbsp;<br>
                </td>
                <td align="left">
                    <input type="text" name="email" id="email" value="{email}" size="20">
                </td>
            </tr>
        </table>
        <br />
        <div class="text">C <a href="http://wm-rb.net/rules/" target="_blank" title="Правила предоставления услуг">правилами</a> предоставления услуг согласен <input type="checkbox" name="rules"></div>
        <br />
        <input type="hidden" name="type_operation" value="{type_operation}">
        <input type="hidden" name="ex_out" value="{output}">
        <input type="hidden" name="ex_in" value="{input}">
        <button class="button_yellow">{L_next}</button>
    </form>
    </center>
</div>

