<div style="FONT-SIZE: 12px; FONT-FAMILY: Verdana; COLOR: #676767; LINE-HEIGHT: 18px;">
    <center>Здравствуйте, {username}</center><br />
    Регистрация в партнерской программе прошла успешно.<br /><br />
    Ваши регистрационные данные.<br />
    логин для входа : {email}<br />
    Ваш пароль : {pass}<br />
    регистрируемый сайт : {host}<br />
    <br />
    Мы будем благодарны Вам за любые предложения, высказанные по поводу того,
    какой Вы хотите видеть сервис платежей WM-RB.net.<br /><br />

    Благодарим Вас за использование нашего сервиса.<br />
    Это письмо отправлено роботом, ответа не требует.<br />
    {bottom_support}
</div>
