<br />--<br />
С уважением,<br />
Администрация WM-RB.net<br />
<br />
<a href='http://wm-rb.net'>Сервис платежей WebMoney в Республике Беларусь</a><br />
Support: <a href='http://wm-rb.net/support/'>Единая служба поддержки</a><br />