<div style="FONT-SIZE: 13px; FONT-FAMILY: Arial; COLOR: #676767; LINE-HEIGHT: 21px;">
    Здравствуйте.<br /><br />
    Ваша заявка успешно создана. У Вас есть <b>30 минут на оплату</b>, иначе заявка будет просрочена.<br />
    -------------------------------------------------<br />
    <b>Номер Вашей заявки:</b> {did}<br />
    -------------------------------------------------<br />
    Для проверки статуса перейдите на <a href='{did_href}'>эту страницу</a>,<br />
    справа в меню перейти по ссылке "Проверка заявки". <br />
    В открывшемся окне ввести номер заявки и указать тип производимой Вами операции.<br />
    <br />
    Мы будем благодарны Вам за любые предложения, высказанные по поводу того,
    какой Вы хотите видеть сервис платежей WM-RB.net.<br /><br />

    Благодарим Вас за использование нашего сервиса.<br />
    Это письмо отправлено роботом, ответа не требует.<br />
    {bottom_support}
</div>
