<div style="FONT-SIZE: 12px; FONT-FAMILY: Verdana; COLOR: #676767; LINE-HEIGHT: 18px;">
    Здравствуйте, {username}<br />
    <br />
    Для Вашей учетной записи был создан запрос на восстановление пароля.<br />
    Если Вы не являетесь инициатором этого запроса, то сообщите в <a href='http://wm-rb.net/support/'>службу поддержки</a>.<br />
    Ваш новый пароль : {pass}
    <br />
    Мы будем благодарны Вам за любые предложения, высказанные по поводу того,
    какой Вы хотите видеть сервис платежей WM-RB.net.<br /><br />

    Благодарим Вас за использование нашего сервиса.<br />
    Это письмо отправлено роботом, ответа не требует.<br />
    {bottom_support}
</div>
