<nav>
    <ul class="main-menu">
        <li class="main-nav_catalog">
            <div><a href="{HOME_URL}/">{L_exchange}</a></div>
        </li>
        <!--li class="main-nav_service">
            <a href="{SERVICE_URL}/">{L_service}</a>
        </li-->
        <!--li class="main-nav_shop">
            <a href="{SHOP_URL}/">{L_shop}</a>
        </li-->
        <!--li class="main-nav_input">{L_input}
            <div id="sub_menu" class="popup-menu_levelOne sub-menu">
                <div class="catalog-menu">
                    <ul class="level0ne-menu_mainItems">
                        {items}
                    </ul>
                </div>
            </div>
        </li-->
        <!--li class="main-nav_forex">Forex
            <div  class="popup-menu_levelOne sub-menu forex">
                <div class="catalog-menu">
                    <ul class="level0ne-menu_mainItems">
                        {items_forex}
                    </ul>
                </div>
            </div>
        </li-->
    </ul>


    <div class="main-menu_righLinks">
        <a href="{HOME_URL}/news/">{L_news}</a>
        <a href="{HOME_URL}/company/" rel="nofollow">{L_company}</a>
        <a style="padding-right:20px;" rel="nofollow" href="{HOME_URL}/rules/">{L_rules}</a>
    </div>
</nav>

