<div class='red alert'>
    <b>Внимание!</b><br />
    Для оплаты следуйте, приведенным ниже, инструкциям.
</div>
&bull; Оплачивайте <b>{edit_out_val} BYR</b>  на счет <b>EasyPay {EP_purse}</b><br />
&bull; В примечании к платежу обязательно указать <u>ТОЛЬКО</u> номер заявки <b>{did}</b><br />
<b>Заявка будет выполнена в течении 15 минут после оплаты.</b><br />
В случае не соблюдения инструкции будет применяться п.п. 3.3 <a href="/rules/" target="_blank">правил Сервиса</a> <br />