<div class='red alert'><b>Для оплаты следуйте, приведенным ниже, инструкциям.</b></div>
&bull; Оплачивайте <b>{edit_out_val} BYR</b>  на счет <b>EasyPay {EP_purse}</b><br />
&bull; В примечании к платежу обязательно указать <u>ТОЛЬКО</u> номер заявки <b>{did}</b><br />
&bull; Для завершения операции вернитесь на эту страницу и подтвердите оплату, нажав на кнопку "<b>Проверить оплату</b>".<br />