<div class='red alert'>
    <b>Внимание!</b><br />
    Не закрывайте эту страницу до завершения обмена<br />
    Для оплаты следуйте, приведенным ниже, инструкциям.
</div>
&bull; Оплачивайте <b>{edit_out_val} BYR</b>  на счет <b>EasyPay {EP_purse}</b><br />
&bull; В примечании к платежу обязательно указать <u>ТОЛЬКО</u> номер заявки <b>{did}</b><br />
&bull; <b>Для завершения</b> операции <b>вернитесь</b> на эту страницу и <b>подтвердите оплату</b>, нажав на кнопку "Проверить оплату".<br />