<div class="instruction">
    &bull; <u>Неоплаченная заявка действительна в течении <b>30 минут</b></u><br />
    &bull; Если заявка по каким либо причинам не выполняется в течение 12 часов, оплаченная сумма, будет возвращена за исключением комиссии платежной системы.</u><br />
    &bull; Номер данной заявки отправлен Вам на E-Mail
    {instruction}
</div>