<div class='red alert'>
    <b>Внимание!</b><br />
    Не закрывайте эту страницу до завершения обмена<br />
    Для оплаты следуйте, приведенным ниже, инструкциям.
</div>
&bull; пополните счет <b>EasyPay {EP_purse}</b> на сумму <b>{edit_out_val} BYR</b> через валютные кассы Белгазпромбанка, банкоматы, инфокиоски или интернет-банкинг ближайшего банка, а так же в любом почтовом отделении Белпочта.<br />
&bull; <b>после пополнения</b> нашего счета необходимо <b>подтвердить оплату</b> на главной <a href="{HOME_URL}">странице сервиса</a> перейдя по ссылке «Сообщить об оплате» и указав номер заявки;

<b>Посмотреть список почтовых отделений, где можно произвести пополнение счета расположен на <a href="https://ssl.easypay.by/input/post_office/" target="_blank">этой странице</a>.</b>
