<td align="right">{account_name} :&nbsp;<br></td>
<td align="left"><input type="text" name="pole1" id="pole1" value="{Beltelecom_Grodno_1}" maxlength="{maxlength}" size="{size}">
    <div class="help"><b>областной центр:</b> 2 + номер телефона<br />
        <b>районные центры:</b> две последних цифры кода региона + номер телефона<br />
        Введите 2 (для Бреста) или код района+номер телефона</div>