<td align="right">Ваш WMID :&nbsp;<br>
</td>
<td align="left">
    <input name="wmid" id="wmid" maxlength="12" value="{wmid}" size="13" type="text">
</td></tr>
<tr class="text" bgcolor="#ffffff">
    <td align="right">{account_name} :&nbsp;<br>
    </td>
    <td align="left">
        <select name="pole2"  id="pole2" >
            <option value="29" selected="selected">029</option>
            <option value="33">033</option>
        </select>
        <input type="text" name="pole1" id="pole1" value="{MTS_1}" maxlength="{maxlength}" size="{size}">