<td align="right">{account_name}:&nbsp;<br></td>
<td align="left"><input type="text" name="pole1" id="pole1" value="{Platej_po_kredity_DeltaBank}" maxlength="{maxlength}" size="{size}">
    <div class="help">
        Знак "-" не вводить
    </div>