<td align="right">{account_name}:&nbsp;<br></td>
<td align="left"><input type="text" name="pole1" id="pole1" value="{Popolnenie_scheta_Idea_Bank}" maxlength="{maxlength}" size="{size}">
    <div class="help">
        Комиссия за зачисление согласно тарифам ЗАО "Идея Банк"
    </div>