<td align="right">{account_name}:&nbsp;<br></td>
<td align="left"><input type="text" name="pole1" id="pole1" value="{Popolnenie_scheta_Trastbank}" maxlength="{maxlength}" size="{size}">
    <div class="help">
        Комиссия за зачисление на карт-счет 2%
    </div>