<header>
    <div class="cont-header">
        <a class="logo" href="{HOME_URL}"><img src="{STATIC_URL}/img/logo.gif" alt="{L_log_title}"></a>
    </div>
    <div class="contact">
        <div class="title-kabinet">Служба поддержки</div>
        <div class="send-support tag-a" onclick="ajaxVs({url:'/widget/',act:'info.support.add',p:'action=send_message'});">Отправить письмо</div>
    </div>
    <div class="wrapper_head_right">
        <div class="enter">
            <div class="line-title">
                <span class="title-kabinet">{L_my_kabinet}</span> <a href="{HOME_URL}/registration/">{L_register}</a> <span class="tag-a" onclick="enter_form()">{L_rest_pass}</span>
            </div>
            <form name="enter_pertner" id="enter_pertner" onSubmit="ajaxVs({method:'POST', url:'/widget/',block:'process',act:'info.registration',p:serialize(this),callback:'enterKabinet'}); return false;" style="display:block">
                <div class="enter-form">
                    <input type="text" name="email" size="15" maxlength="52" placeholder="{L_your_email}" />
                    <input type="hidden" name="action" value="enter" />
                    <input type="hidden" name="login_index" value="sen" />
                    <input type="password" name="passw" size="10" maxlength="32" placeholder="{L_password}"  />
                </div>
                <button class="button_yellow">{L_enter}</button>
            </form>
            <form name="rest_pass" id="rest_pass" onSubmit="ajaxVs({method:'POST', url:'/widget/',block:'process',act:'info.registration',p:serialize(this)}); return false;" style="display:none">
                <div class="enter-form">
                    <input type="hidden" name="action" value="mess_pass" />
                    <input type="text" name="email" size="27" maxlength="52" placeholder="{L_your_email}" />
                    <input type="hidden" name="mess_pass" value="jr" />
                    <button class="button_yellow">{L_send}</button>
                </div>
            </form>
        </div>
    </div>

</header>